body {
  background: #f5f5f5;
}

#city {
  width: 0.60rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heard {
  height: 0.51rem;
  width: 100%;
}
.top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0.12rem 0;
  align-items: center;
  background-image: linear-gradient(90deg, #0af, #0085ff);
}
.top h1 {
  font-size: 0.19rem;
  font-weight: 100;
}
.top p {
  position: absolute;
  right: 0.2rem;
}
.opting {
  display: flex;
  padding: 0.18rem;
  color: #333;
  font-size: 0.14rem;
  align-items: center;
  background: white;
}
.opting input {
  width: 2.52rem;
  padding: 0.1rem;
  background: #f5f5f5;
  outline: 0;
  border: 0;
  border: 1px solid #f5f5f5;
  margin-left: 0.15rem;
}
.p {
  width: 100%;
  padding: 0.12rem 0;
  font-size: 0.14rem;
}
.p span {
  margin-left: 0.12rem;
}
.site {
  background: white;
  display: flex;
  font-size: 0.16rem;
  padding: 0.15rem 0.12rem;
  justify-content: space-between;
}
.zx-city {
  background: white;
  height: 0.28rem;
  line-height: 0.28rem;
  width: 100%;
  height: 0.28ren;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addr2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* footer S */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
  }
  footer ul {
    display: flex;
    align-items: center;
    /* border-top: 1px solid #888; */
    box-shadow: 0 -0.266667vw 0.533333vw rgba(0,0,0,.1);
    font-size: 0.16rem;
    color: #333;
  }
  footer ul li {
    flex: 1;
    text-align: center;
  }
  footer ul li a {
    display: flex;
    flex-direction: column;
  }
  .foo ul li a  span {
    font-size: 0.26rem;
  }
  .foo .home span {
    font-size: 0.28rem;
  }
  footer a.active {
    color: #0089dc;
  }